.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #aaaaaa11;
  background-color: white;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #888;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: large;
  color: #eee;
}

.App-intro {
  font-size: large;
  color: #bbb;
}

.newTodo {
  width: 200px;
  font-size: medium;
  background: #eee;
  height: 23px;
}

.editedTodo{
  font-size: medium;
  background: #eee;
  text-align: right;
  width: 130px;
}

button {
  font-size: smaller;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
  width: 50px;
  height: 27px;
  background: white;
  border-style: none;
  float: right;
}

ul {
  font-size: medium;
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

li {
  display: table-row;
  text-align: left;
  width: 400px;
}

.centerDiv {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}


.leftDiv {
  display: block;
  align-items: left;
  text-align: left;
}

.testAttribute {
  font-size: 10px;
  color: grey;
  margin-top: 10px;
}

body {
  background-color: #eeeeee;
  font-family: Helvetica, Arial;
  font-size: 12px;
}
